Version 3
[X] Should intialize the todos variable with objects
[] The add function should add a new todo object to the todos array
[] The edit function should edit the todo object
[] It should have a function to toogle a todo

Version 2
[X] Have a function to add a todo
[X] Have a function to edit a todo
[X] Have a function to remove a todo

Version 1
[X] Have a place to store todos
[X] Have a way to display todos
[X] Have a way to add todos
[X] Have a way to edit todos
[X] Have a way to remove todos